<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mpvreeken.rpgcompanion">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RPGCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Hooks.HooksActivity" />
        <activity android:name=".EncountersActivity" />
        <activity android:name=".PuzzlesActivity" />
        <activity android:name=".Hooks.DisplayHookActivity" />
        <activity android:name=".NPCsActivity" />
        <activity android:name=".CommentActivity" />
        <activity android:name=".AdventuresActivity" />
        <activity android:name=".RandomNPCActivity" />
        <activity android:name=".SavedNPCActivity" />
        <activity android:name=".MiscActivity" />
        <activity android:name=".Riddles.RiddlesActivity" />
        <activity android:name=".Riddles.DisplayRiddleActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".RegisterActivity"
            android:noHistory="true" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".DeepLinkURLActivity"
            android:launchMode="singleTop"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="107.150.7.141" />
                <data android:pathPrefix="/rpg_companion/api/confirm-email" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResetPasswordDeepLinkActivity"
            android:launchMode="singleTop"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="107.150.7.141" />
                <data android:pathPrefix="/rpg_companion/api/reset-password" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfirmEmailActivity"
            android:noHistory="true" />
        <activity android:name=".Hooks.NewHookActivity" />
        <activity
            android:name=".ResendEmailActivity"
            android:noHistory="true" />
        <activity android:name=".Riddles.NewRiddleActivity" />
        <activity android:name=".ReleaseNotesActivity" />
        <activity android:name=".ResetPasswordActivity" />
    </application>

</manifest>